In [32]:
from pymongo import MongoClient
import pandas as pd
client = MongoClient("mongodb://localhost/companies") 
db = client.get_database()

In [40]:
empresas1 = {"founded_year":{"$lte":2010}}
listaempresas1 = list(db["companies"].find(empresas1,{"_id":0,"name":1,"founded_year":1,"offices":1}))

In [44]:
df = pd.DataFrame(listaempresas1)
display(df)

,name,founded_year,offices
0,AdventNet,1996,"[{'description': 'Headquarters', 'address1': '..."
1,Zoho,2005,"[{'description': 'Headquarters', 'address1': '..."
2,Wetpaint,2005,"[{'description': '', 'address1': '710 - 2nd Av..."
3,Omnidrive,2005,"[{'description': '', 'address1': 'Suite 200', ..."
4,Postini,1999,"[{'description': None, 'address1': '959 Skyway..."
...,...,...,...
13045,QSGI,1967,"[{'description': '', 'address1': '400 Royal Pa..."
13046,Oriact,2009,"[{'description': '', 'address1': 'LÃ¤rchenweg ..."
13047,Adhunk,2009,"[{'description': 'Indian Office', 'address1': ..."
13048,AfterLogic,2002,"[{'description': 'Livingston', 'address1': 'P...."
13049,EnteGreat,2000,"[{'description': '', 'address1': '1900 Interna..."

In [46]:
df = df.explode('offices')
dfOfficeData = df[["offices"]].apply(lambda r: r.offices, result_type="expand", axis=1)
cleanData = pd.concat([df,dfOfficeData], axis=1)
display(cleanData)
display(df)
display(dfOfficeData)

,name,founded_year,offices,description,address1,address2,zip_code,city,state_code,country_code,latitude,longitude
0,AdventNet,1996,"{'description': 'Headquarters', 'address1': '4...",Headquarters,4900 Hopyard Rd.,Suite 310,94588,Pleasanton,CA,USA,37.692934,-121.904945
1,Zoho,2005,"{'description': 'Headquarters', 'address1': '4...",Headquarters,4900 Hopyard Rd,Suite 310,94588,Pleasanton,CA,USA,37.692934,-121.904945
2,Wetpaint,2005,"{'description': '', 'address1': '710 - 2nd Ave...",,710 - 2nd Avenue,Suite 1100,98104,Seattle,WA,USA,47.603122,-122.333253
2,Wetpaint,2005,"{'description': '', 'address1': '270 Lafayette...",,270 Lafayette Street,Suite 505,10012,New York,NY,USA,40.723731,-73.996431
3,Omnidrive,2005,"{'description': '', 'address1': 'Suite 200', '...",,Suite 200,654 High Street,94301,Palo Alto,CA,ISR,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
13045,QSGI,1967,"{'description': '', 'address1': '400 Royal Pal...",,400 Royal Palm Way,,33480,Palm Beach,FL,USA,26.705331,-80.041395
13046,Oriact,2009,"{'description': '', 'address1': 'LÃ¤rchenweg 7...",,LÃ¤rchenweg 7,,6403,KÃ¼ssnacht,None,CHE,47.088219,8.437163
13047,Adhunk,2009,"{'description': 'Indian Office', 'address1': '...",Indian Office,Near Tube Well(south),Patel Nagar,334003,Bikaner,None,IND,NaN,NaN
13048,AfterLogic,2002,"{'description': 'Livingston', 'address1': 'P.O...",Livingston,P.O. Box 2096,,07039,Livingston,NJ,USA,40.793024,-74.323554
13049,EnteGreat,2000,"{'description': '', 'address1': '1900 Internat...",,1900 International Park Drive,Suite 200,35243-4204,Birmingham,AL,USA,33.407786,-86.761302

,name,founded_year,offices
0,AdventNet,1996,"{'description': 'Headquarters', 'address1': '4..."
1,Zoho,2005,"{'description': 'Headquarters', 'address1': '4..."
2,Wetpaint,2005,"{'description': '', 'address1': '710 - 2nd Ave..."
2,Wetpaint,2005,"{'description': '', 'address1': '270 Lafayette..."
3,Omnidrive,2005,"{'description': '', 'address1': 'Suite 200', '..."
...,...,...,...
13045,QSGI,1967,"{'description': '', 'address1': '400 Royal Pal..."
13046,Oriact,2009,"{'description': '', 'address1': 'LÃ¤rchenweg 7..."
13047,Adhunk,2009,"{'description': 'Indian Office', 'address1': '..."
13048,AfterLogic,2002,"{'description': 'Livingston', 'address1': 'P.O..."
13049,EnteGreat,2000,"{'description': '', 'address1': '1900 Internat..."

,description,address1,address2,zip_code,city,state_code,country_code,latitude,longitude
0,Headquarters,4900 Hopyard Rd.,Suite 310,94588,Pleasanton,CA,USA,37.692934,-121.904945
1,Headquarters,4900 Hopyard Rd,Suite 310,94588,Pleasanton,CA,USA,37.692934,-121.904945
2,,710 - 2nd Avenue,Suite 1100,98104,Seattle,WA,USA,47.603122,-122.333253
2,,270 Lafayette Street,Suite 505,10012,New York,NY,USA,40.723731,-73.996431
3,,Suite 200,654 High Street,94301,Palo Alto,CA,ISR,NaN,NaN
...,...,...,...,...,...,...,...,...,...
13045,,400 Royal Palm Way,,33480,Palm Beach,FL,USA,26.705331,-80.041395
13046,,LÃ¤rchenweg 7,,6403,KÃ¼ssnacht,None,CHE,47.088219,8.437163
13047,Indian Office,Near Tube Well(south),Patel Nagar,334003,Bikaner,None,IND,NaN,NaN
13048,Livingston,P.O. Box 2096,,07039,Livingston,NJ,USA,40.793024,-74.323554
13049,,1900 International Park Drive,Suite 200,35243-4204,Birmingham,AL,USA,33.407786,-86.761302